.parties {
    width: 80%;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

.parties-category > h2 {
    font-weight: 700;
}

.party {
    padding: 0 25%;
}

.party-logo {
    width: 4.5em;
    height: 4.5em;
    pointer-events: none;
}

.img-35 {
    height: 3.5em;
}

.img-3 {
    height: 3em;
}

.img-275 {
    height: 2.75em;
}

.img-25 {
    height: 2.5em;
}

.party-info {
    margin-left: 4em;
    text-align: left;
}

.party-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.parties-p {
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .party div {
        flex-direction: column;
        Justify-content: center;
        gap: 1em;
        font-size: 80%;
        padding: 0 2em;
    }

    .party-title {
        display: none;
    }
}