.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    font-weight: 700 !important;
    overflow: hidden;
    text-align: center;
}